[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "SPIRV-Reflect"]
	path = SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "external/SPIRV-Reflect"]
	path = external/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "external/minimp4"]
	path = external/minimp4
	url = https://github.com/lieff/minimp4.git
[submodule "external/ttf2mesh"]
	path = external/ttf2mesh
	url = https://github.com/Fadis/ttf2mesh
[submodule "external/tqdm-cpp"]
	path = external/tqdm-cpp
	url = https://github.com/mraggi/tqdm-cpp.git
[submodule "external/hdmap"]
	path = external/hdmap
	url = https://github.com/Fadis/hdmap.git
[submodule "external/half"]
	path = external/half
	url = https://github.com/ROCmSoftwarePlatform/half.git
